/* ============================== General styles ============================== */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Chewy);

/*.ed-container {
  border: 1px dotted red;
}

.ed-item {
  border: 1px dashed orange;
}*/

body {
  color: #191923;
  font-family: 'Roboto', sans-serif;
}

.container-total {
  max-width: 100%;
}

.item-extra-side-padding {
  padding-left: 1em;
  padding-right: 1em;
}

.item-no-padding {
  padding: 0;
}

.item-content-center {
  text-align: center;
}

.item-dark-backg {
  background-color: rgba(25,25,35, .8);
  color: white;
}


/* ============================== Home styles ============================== */
/* ========== home header ========== */
.home-header {
  background-attachment: fixed;
  background-image: url('f3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47em;
}

.home-navbar {
  background-color: transparent;
}

.uk-navbar {
  /*border: 1px dotted red;*/
}

.uk-navbar-brand {
  /*padding-right: 0em;*/
}

.logotype {
  /*border: 1px dotted white;*/
  width: 7em;
}

.uk-navbar-nav.desde-tablet {
  /*border: 1px dashed white;*/
  margin-left: 3em;
  margin-top: 2em;
}

.uk-navbar-nav.desde-tablet a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em !important;
}

  .uk-navbar-nav.desde-tablet i {
    font-size: 1.2em !important;
    display: none;
  }

.anchor-item-nav-home {
  /*border: 1px dotted white;*/
  color: white !important;
  font-size: 1.3em !important;
  /*margin-top: 2.5em;*/
  text-decoration: none;
}

.uk-navbar-toggle {
  color: white;
  font-size: 2em;
  margin-top: .5em;
}

.anchor-item-nav-home, .uk-navbar-toggle {
  text-shadow: 0px 3px 3px #191923;
}

.anchor-item-nav-home:hover {
  background-color: transparent !important;
  cursor: pointer !important;
}

.message-home-header {
  color: white;
  /*font-family: 'Chewy', sans-serif;*/
  font-family: 'Concert One', cursive;
  font-family: 'Baloo Tamma', cursive;
  font-size: 1.7em;
  text-align: center;
  text-shadow: 0px 3px 3px #191923;
}

h2.message-home-header {
  font-size: 3em;
  margin-top: 6em;
}

.uk-offcanvas-bar {
  background-color: #191923;
  padding: 0 0 0 0;
}

.content-movil-anchor-nav {
  /*border: 1px solid white;*/
  margin-top: 1em;
  padding: 1.5em 0 1em 1.5em;
}

.content-movil-anchor-nav a {
  text-shadow: none;
}


/* ========== home information ========== */
.home-information {
  margin-top: 5em; /* deseable mantener estas declaraciones iguales, pero separadas */
}

.title-home-information {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 4em;
}

.icon-home-information {
  width: 10em;
}

.text-icon-information {
  margin-bottom: 4em;
}


/* ========== home services ========== */
.home-services {
  background-attachment: fixed;
  background-image: url('fondo9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5em; /* deseable mantener estas declaraciones iguales, pero separadas */
}

.home-services .ed-item {
  padding-bottom: 4em;
  padding-top: 4em;
}

.title-home-services {
  font-family: 'Oswald', sans-serif;
  color: white;
}

.icon-home-services {
  width: 7em;
}

.subtitle-home-services {
  color: white;
}


/* ========== home bottom ========== */
.home-bottom {
  background-color: rgba(14,121,178, 0);
  margin-top: 5em;
  /*padding-bottom: 2em;
  padding-top: 2em;*/
}

.container-icon-home-bottom {
  text-align: center;
}

.icon-home-bottom {
  /*width: 35em;*/
}

.title-home-bottom, .text-home-bottom {
  color: white;
  color: #191923;
}

.title-home-bottom {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

.text-home-bottom {
  font-size: 1.1em;
}

.container-link-home-bottom {
  margin-top: 2em;
  text-align: center;
}

  .link-home-bottom {
    width: 8em;
  }

    .text-link-home-bottom {
      color: #191923;
    }


/* ========== Footer ========== */
.home-footer {
  background-color: #191923;
  color: white;
  margin-top: 5em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.icon-home-footer {
  width: 5em;
}


@media screen and (min-width: 1024px){
  .title-home-bottom {
    margin-top: 1em;
  }

  .text-home-bottom {
    margin-top: 2em;
  }
}



@media screen and (max-width: 350px){
  .home-header {
    background-attachment: scroll;
    background-image: url('f3.jpg');
  }

  .message-home-header {
    font-size: 1.5em;
  }

  h2.message-home-header {
    font-size: 2.2em;
    margin-top: 7em;
  }

  .home-services {
    background-attachment: scroll;
    background-image: url('fondo9A.jpg');
  }

  .icon-home-bottom {
    width: 16em;
  }

  .title-home-bottom {
    font-size: 1.5em;
    text-align: center;
  }

  .text-home-bottom {
    font-size: 1.1em;
    text-align: center;
  }
}

@media screen and (min-width: 350px) and (max-width: 760px){
  .home-header {
    background-attachment: scroll;
    background-image: url('f3.jpg');
  }

  .message-home-header {
    font-size: 1.2em;
  }

  h2.message-home-header {
    font-size: 2em;
    margin-top: 8em;
  }

  .home-services {
    background-attachment: scroll;
    background-image: url('fondo9A.jpg');
  }

  .icon-home-bottom {
    width: 16em;
  }

  .title-home-bottom {
    font-size: 1.5em;
    text-align: center;
  }

  .text-home-bottom {
    font-size: 1.1em;
    text-align: center;
  }
}
